.upgradeDmg {
  font-size: 10px;
  position: absolute;
  margin-top: 500px;
  margin-left: 300px;

}

.lvlUpButton {
  font-size: 32px;
  margin-top: -60px;
  margin-left: -32px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.none {
  display: none;
}

.Castle__button__2 {
  position: absolute;
  margin-top: -5px;
  margin-left: -8px;
    width: 220px;
  height: 75px;
  font-size: 15px;

}

.Castle__button__2::before {
  content: "Улучшение клешни";
}

.Castle__button__2:hover::before {
  content: "🔨 25 очков";
}
.crabText{
user-select: none;
  font-size: 20px;
   margin-left: 20px;
}
