.Castle__button__1 {
  position: absolute;
  margin-top: 410px;
  margin-left: 700px;
  width: 260px;
  height: 75px;
  font-size: 15px;
}

.Castle__button__1::before {
  content: "🔨Построить замок";
}

.Castle__button__1:hover::before {
  content: "🔨 50 очков";
}

.Castle__button {
  position: absolute;
  margin-top: 440px;
  margin-left: 670px; 
  user-select: none;
  font-size: 32px;

  &:hover {
    cursor: pointer;
  }
}

.Castle {
  user-select: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 360px;
  margin-left: 713px;
    font-size: 30px;
}

.none {
  display: none;
}

.Castle__text {
  user-select: none;
  position: absolute;
  margin-top: 424px;
  margin-left: 723px;
  font-size: 20px;
}

.lvl4Up {
  scale: 1.2;
}

.lvl5Up {
  scale: 1.4;
}

.lvl6Up {
  scale: 1.6;
}

.lvl7Up {
  scale: 3;
  margin-left: 775px;
  margin-top: 330px;
}
