.crabDiv {
  user-select: none;
}

.none {
  display: none;
}

.fullScreenDiv {
  width: 100vw;
  height: 100vh;
}

.Crab {
  font-size: 40px;
  position: absolute;
  margin-top: 200px;
  margin-left: 140px;
}

.Crab:hover {
  cursor: pointer;
}

.Blur {
  filter: grayscale(100%);
  &:hover {
  cursor: default;
}
}

.crabClicked {
  transform: scale(0.9);
}

.characterText:hover {
  cursor: pointer;
}
.characterText {
  user-select: none;
}

.Z {
  font-size: 20px;
  position: absolute;
  margin-top: 200px;
  margin-left: 185px;
  user-select: none;
}

@keyframes slidein {
  from {
    margin-top: 200px;
    opacity: 1;
  }

  to {
    margin-top: 180px;
    opacity: 0;
  }
}
.click {
  font-size: 10px;
  position: absolute;
  margin-top: 200px;
  margin-left: 125px;
  opacity: 0;
  user-select: none;
}
.animation {
  animation: slidein 60ms;
}
