.crabDiv {
  user-select: none;
}

.none {
  display: none;
}

.Crab {
  font-size:65px;
  position: absolute;
  margin-top: 400px;
  margin-left: 350px;
}

.Crab:hover {
  cursor: pointer;
}

.Blur {
  filter: grayscale(100%);
  &:hover {
  cursor: default;
}
}

.crabClicked {
  transform: scale(0.9);
}

.characterText:hover {
  cursor: pointer;
}
.characterText {
  user-select: none;
}

.Z {
  font-size: 35px;
  position: absolute;
  margin-top: 400px;
  margin-left: 370px;
  user-select: none;
}

@keyframes slidein {
  from {
    margin-top: 400px;
    opacity: 1;
  }

  to {
    margin-top: 380px;
    opacity: 0;
  }
}
.click {
  font-size: 15px;
  position: absolute;
  margin-top: 400px;
  margin-left: 335px;
  opacity: 0;
  user-select: none;
}
.animation {
  animation: slidein 60ms;
}
